<div class="admin-users-container">
  <h2>All Users</h2>
  <div *ngIf="loading">Loading...</div>
  <div *ngIf="error" class="error">{{ error }}</div>
  <table *ngIf="!loading && users.length">
    <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
        <span *ngFor="let r of user.roles">{{ r.name || r }}</span>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="!loading && !users.length">
    No users found.
  </div>
</div>
